:root{
    --bg-color:#1b2021;
    --bg-secondary-color:#308c7d;
    --primary-color:#1b2021;
    --secondary-color:#514e80;
    --third-color:#8d99ae;
    --letter-color:color: rgb(255, 190, 255);
    --body-color:#0a1641;
    --header-bg:#15003d;
    --header-letter:rgb(255, 190, 255);
    --form-bg:#2c1a80;
    --letter-hover:#60fdbc;
}

@font-face {
    font-family: "fonstar";
    src: url(../../assets/fonts/fonstars/Fonstars-4Bo0p.otf);
}