:root{
    --color-primario: #000000;
    --color-fondo-header: var(--color-primario);
    --color-texto-header: white;
    --color-azul-body: rgba(0, 139, 191, 1); 
    --color-gris-body: rgba(255, 255, 255, 0.4);
    --color-logo-sombra: rgba(83, 175, 236, 0.5);
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, var(--color-azul-body),var(--color-gris-body), var(--color-azul-body));
    background-image: url(../Img/AnimeChicaFondoPlaneta.png);
    background-size: cover; /* Ajuste la imagen al contenerdor*/
    background-position: center;
}
/*Encabezado*/
.header{grid-area: header;}
/*Principal*/
.main {grid-area: main;}
/*buscador*/
.buscador {grid-area: buscador;}
/*informacion*/
.info {grid-area: info;}
/*Pie*/
.footer {grid-area: footer;}

.grid-container {
    display: grid;
    grid-template-areas:
        /*6 columnas y 4 filas*/
        'header header header header header header'
        'main main main main main buscador'
        'info info info info info buscador'
        'footer footer footer footer footer buscador';
    grid-gap: 10px;
    padding: 10px;
}

.grid-container > div {
    padding: 10px 3px;
}
.grid-container .header{
    background-color: var(--color-fondo-header);
    color:var(--color-texto-header);
    grid-area: header;
    text-align:left;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.en-linea{
    display: inline;
    vertical-align: middle;
}
.hipervinc{
    font-family: 'Roboto', sans-serif;
    color: var(--color-texto-header);
    text-decoration: none;
    margin: 0 10px;
    font-size: 2em;
}

.grid-container .header{
    grid-area: main;
}




.titulo{
    font-size: 50px;
    text-align: center;
    background-image: url('../Img/AnimeChicaFondoPlaneta.png');
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-clip: text; /* (Fonde de Letras)la bandera Dentro de las Letras*/
    margin: 20px;
    /* height: 50vh; */
}
/*.contenido{ /*Clase*/
    /* margin: 0 auto; sup inf 0 costados autoajuste */
    /*padding: 20px;
    text-align: center;
}*/
.gird-container #bloque-1{
    grid-area: bloque-1;
    text-align: justify;
    margin: 30px;
    height: 20vh;
}
#galeria-s1{
    position: relative;
    left: 10vw;
    /* z-index: -1; Envia la sección detrás del encabezado */
}
.card{
    display:inline-block;
    background-color: rgba(224, 243, 237, 0.1);
    max-width: 400px;
    width: 100%;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.6);
    text-align: center;
    border-radius: 1%;
    overflow: hidden;
}
.imagen-responsive{
    height: auto;
    max-width: 100%;
    display: block;
}
#p-bloque3{
    text-align: justify;
    margin: 30px;
}
footer{
    background-color: var(--color-fondo-header);
    color: var(--color-texto-header);
    text-align: center;
    padding: 20px;
}