<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/header.css">    
    <link rel="stylesheet" href="../static/CSS/anime.css">
    <!-- Fuente externa -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cantora+One&display=swap" rel="stylesheet">
    <title>Animes y Mangas Recomendados</title>
</head>
<body>
    <header>
        <div class="en-linea">
            <img id="logo" src="../static/img/32529151_x19.jpg" alt="logo">
        </div>

        <nav class="en-linea">
            <a class="hipervinc" href="../index.html">Inicio</a>
            <a class="hipervinc" href="anime.html">Anime</a>
            <a class="hipervinc" href="musica.html">Música</a>
        </nav>
    </header>

    <main>
        <div id="titulo">
            <h1>Recomendaciones de Manga y Anime</h1>
        </div>

        <section id="galeria-s1">

            <div class="card">
                <img class="imagen-responsive" src="..//static/Img/Josuke1.png" alt="Foto Esquel">
                <h3>Titulo Anime/Manga de Ejemplo</h3>
                <p>Descripción: breve del Anime/Manga</p>
                <p>Link de la Página/Sitio que contiene el Manga/Anime</p>
                <!-- <a href=""></a> -->
               
            </div>





            <div class="card">
                <img class="imagen-responsive" src="..//static/Img/Josuke1.png" alt="Foto Esquel">
                <h3>Imagen de Esquel</h3>
                <p>Descripción: Vení a pasear en la Trochita🚊</p>
                <a href="../static/img/esquel_1.jpg" target="_blank">Ver imagen</a>
                <br>
                <a href="../static/img/esquel_1.jpg" download="">Descargar imagen</a>
                <br>
                <a href="../assets/atajos.pdf" download="">Descargar PDF</a>
                <br>
                <a href="mailto:">Enviar correo</a>
            </div>

            <div class="card">
                <img class="imagen-responsive" src="..//static/Img/Josuke1.png" alt="Foto Esquel">
                <h3>Imagen de Esquel</h3>
                <p>Descripción: Vení a pasear en la Trochita🚊</p>
                <a href="../static/img/esquel_1.jpg" target="_blank">Ver imagen</a>
                <br>
                <a href="../static/img/esquel_1.jpg" download="">Descargar imagen</a>
                <br>
                <a href="../assets/atajos.pdf" download="">Descargar PDF</a>
                <br>
                <a href="mailto:">Enviar correo</a>
            </div>

            <div class="card">
                <img class="imagen-responsive" src="..//static/Img/Josuke1.png" alt="Foto Esquel">
                <h3>Imagen de Esquel</h3>
                <p>Descripción: Vení a pasear en la Trochita🚊</p>
                <a href="../static/img/esquel_1.jpg" target="_blank">Ver imagen</a>
                <br>
                <a href="../static/img/esquel_1.jpg" download="">Descargar imagen</a>
                <br>
                <a href="../assets/atajos.pdf" download="">Descargar PDF</a>
                <br>
                <a href="mailto:">Enviar correo</a>
            </div>

            <div class="card">
                <img class="imagen-responsive" src="..//static/Img/Josuke1.png" alt="Foto Esquel">
                <h3>Imagen de Esquel</h3>
                <p>Descripción: Vení a pasear en la Trochita🚊</p>
                <a href="../static/img/esquel_1.jpg" target="_blank">Ver imagen</a>
                <br>
                <a href="../static/img/esquel_1.jpg" download="">Descargar imagen</a>
                <br>
                <a href="../assets/atajos.pdf" download="">Descargar PDF</a>
                <br>
                <a href="mailto:">Enviar correo</a>
            </div>

            <div class="card">
                <!-- Referencia Relativa (Recurso en Local) -->
                <img class="imagen-responsive" src="..//static/Img/Josuke1.png" alt="Josuke llorando">
                <h3>Josuke llorando por cortar cebolla</h3>
                <p>Descripción: Josuke cocinando para el desayuno.</p>
                <!-- Enlace para abrir la imagen en una ventana nueva -->
                <a href="../static/Img/Josuke1.png" target="_blank">Ver Imagen</a>
                <br>
                <!-- Descargar la Imagen -->
                <a href="../static/Img/Josuke1.png" download="">Descargar la Imagen</a>
                
                <br>
                <!-- Descargar PDF -->
                <a href="../static/atajos VS.pdf" download="">Descargar PDF</a>
                
                <br>
                <!-- Enviar un Correo -->
                <a href="mailto:">Enviar Correo</a>
            </div>

        </section>

        <section id="galeria-s2">
            <h3>Descripcion</h3>
            <p id="texto">Texto sobre anime.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nihil cupiditate eaque dolorem laborum debitis iure nostrum nisi sunt velit similique tenetur, id fuga placeat adipisci nobis repellat voluptatem nam?Quia quidem sit accusantium optio sunt recusandae voluptatum iusto odit vitae architecto nesciunt fuga ad quo cupiditate labore facilis esse mollitia eius aut quasi, tempore obcaecati, alias laudantium voluptates! Inventore?</p>
        </section>

        <section id="galeria-s3">
            <img src="https://picsum.photos/200/300.jpg" alt="">
            <img src="https://picsum.photos/200/300.jpg" alt="">
            <img src="https://picsum.photos/200/300.jpg" alt="">
        </section>

        <section id="galeria-s4">
            
        </section>
        
    </main>
    
    <!-- Pie de Página -->
    <footer>
        <h3>Info interesante footer ejemplo anime</h3>
    </footer>
</body>
</html>