<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/musica.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/colors.css">
    <link rel="icon" href="../static/img/Aqua-Bored-favicon.ico" type="image/png">
    <title>Manarem - ¡Música Recomendada por nosotros</title>
</head>
<body>
    <header>
        <div class="head-grid-container">
            <h2 id="icono">Manarem</h2>
            <a class="hipervin"  id="h_home" href="../index.html">Home</a>
            <a class="hipervin"  id="h_recomendados" href="./recomend.html">Recomendados</a>
            <a class="hipervin"  id="h_musica" href="./musica.html">Musica</a>
            <div id="h_divotros" class="drop_otros">
                <div class="hipervin" id="h_otros">Otros</div>
                <div class="drop_otros_conten">
                    <a class="hipervin" href="./acerca_de.html">Acerca de</a>
                    <a class="hipervin" href="./contacto.html">Contacto</a>
                    <a class="hipervin" href="./preg_frec.html">Preguntas Frecuentes</a>
                    <a class="hipervin" href="./opiniones.html">Opiniones</a>
                </div>
            </div> 
            <a class="hipervin"  id="h_ingresar" href="./ingresar.html">Ingresar</a>
            <a class="hipervin"  id="h_registrarse" href="./registrarse.html">Registrarse</a>
        </div>
    </header>

    <div class="grid-container">
        <div class="main">
            <h1 id="titulo1">Animes y Mangas Recomendados</h1>
            <h3 id="subtitulo">Subtítulo emocionante sobre porque deberian escuchar los Música de los animes</h3>
            <div id="cartelera">
                <div class="card">
                    <iframe class="vidresponsive" width="560" height="315" src="https://www.youtube.com/embed/Jsc6bPHe4tM?si=vRh_7vEk2BeHRJoK" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <h3>Titulo Musica y Anime</h3>
                    <h4>Descripción Ejemplo: Op 1 de Kumo desu ga nani ka?</h4>
                </div>
                <div class="card">
                    <iframe class="vidresponsive" width="560" height="315" src="https://www.youtube.com/embed/G65pvuTFR_A?si=wPNVh51LPij8GKgf" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <!-- <iframe class="vidresponsive" width="560" height="315" src="https://www.youtube.com/embed/DwPWGUhEtP0?si=gVinGsNFSjDPSauG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
                    <h3>Roundabout - Endings en Jojo's Bizarre Adventure Parte 1 y 6</h3>
                    <h4>Endings de la parte 1 (Phanthon Blood) y 6 (Stone Ocean)</h4>
                </div>
                <div class="card">
                    <iframe class="vidresponsive" width="560" height="315" src="https://www.youtube.com/embed/eWPySWPBOtk?si=J-qLCyCHtEH6UKNI" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <h3>Titulo Musica y Anime</h3>
                    <h4>Descripción Ejemplo: Op 1 de Kumo desu ga nani ka?</h4>
                </div>
                <div class="card">
                    <iframe class="vidresponsive" width="560" height="315" src="https://www.youtube.com/embed/oDhY1lpLhu4?si=_2xwEHnqxP-Zm2pm" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <h3>Titulo Musica y Anime</h3>
                    <h4>Descripción Ejemplo: Op 1 de Kumo desu ga nani ka?</h4>
                </div>
                <div class="card">
                    <iframe class="vidresponsive" width="560" height="315" src="https://www.youtube.com/embed/o6wtDPVkKqI?si=ajU8mCnODTUKgmWW" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <h3>“The Cruel Angel's Thesis” Zankoku na Tenshi no Te-ze「残酷な天使のテーゼ」 - Opening de neon Genesis Evangelion</h3>
                    <h4>Descripción Ejemplo: Op 1 de Kumo desu ga nani ka?</h4>
                </div>
                <div class="card">
                    <iframe class="vidresponsive" width="560" height="315" src="https://www.youtube.com/embed/5RI_z9o1aMw?si=9eXaGVlQt1gf8nfP" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <h3>Roundabout - Endings en Jojo's Bizarre Adventure Parte 1 y 6</h3>
                    <h4>Endings de la parte 1 (Phanthon Blood) y 6 (Stone Ocean)</h4>
                </div>
                <div class="card">
                    <iframe class="vidresponsive" width="560" height="315" src="https://www.youtube.com/embed/Ui-KKFZKIq4?si=TSLuWeTdr3OUhPvQ" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <h3>Titulo Musica y Anime</h3>
                    <h4>Descripción Ejemplo: Op 1 de Kumo desu ga nani ka?</h4>
                </div>
                <div class="card">
                    <iframe class="vidresponsive" width="560" height="315" src="https://www.youtube.com/embed/Fve_lHIPa-I?si=E7zRagDOcGwvPKxU" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <h3>ロリ神レクイエム☆ / しぐれうい - Loli Dios Réquiem ☆ / Shigureui</h3>
                    <h4>No es de un anime pero se me dio agregarlo</h4>
                </div>
                <div class="card">
                    <iframe class="vidresponsive" width="560" height="315" src="https://www.youtube.com/embed/MSNNBHugtag?si=X0XTMVS26OAG5hk6" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <h3>“The Cruel Angel's Thesis” Zankoku na Tenshi no Te-ze「残酷な天使のテーゼ」 - Opening de neon Genesis Evangelion</h3>
                    <h4>Descripción Ejemplo: Op 1 de Kumo desu ga nani ka?</h4>
                </div>
                <div class="card">
                    <iframe class="vidresponsive" width="560" height="315" src="https://www.youtube.com/embed/7GBn6IuTQ6w?si=-yqYf16xwslOGk1z" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <h3>Roundabout - Endings en Jojo's Bizarre Adventure Parte 1 y 6</h3>
                    <h4>Endings de la parte 1 (Phanthon Blood) y 6 (Stone Ocean)</h4>
                </div>
                <div class="card">
                    <iframe class="vidresponsive" width="560" height="315" src="https://www.youtube.com/embed/ow0b-Crmr1Q?si=iAwlfYj8dFAV2HnD" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <h3>Titulo Musica y Anime</h3>
                    <h4>Descripción Ejemplo: Op 1 de Kumo desu ga nani ka?</h4>
                </div>
                <div class="card">
                    <iframe class="vidresponsive" width="560" height="315" src="https://www.youtube.com/embed/Ci_zad39Uhw?si=Q6BV2gHWYsJr1BrI" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <h3>ロリ神レクイエム☆ / しぐれうい - Loli Dios Réquiem ☆ / Shigureui</h3>
                    <h4>No es de un anime pero se me dio agregarlo</h4>
                </div>
            </div>
        </div>
    
        <div class="buscador">
            <!-- <div id="buscador">
                <h3>Buscar</h3>
            </div> -->
            <form action="#" autocomplete="off">
                <input type="text" name="buscar" placeholder="Buscar" class="campo-buscar">
                <!-- placeholder="Buscar Anime / Manga / Música" -->
            </form>
        </div>
    </div>
    <footer class="footer">
        <div>Contacto por GitHub:</div>
        <div>creada por an4tsu, JohnCVF9 y Quiroz-Monica-R</div>
    </footer>
</body>
</html>