<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/opiniones.css">
    <link rel="stylesheet" href="..//static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/colors.css">
    <link rel="icon" href="../static/img/Aqua-Bored-favicon.ico" type="image/png">
    <title>Manarem - ¡Deja tus opiniones!</title>
</head>
<body>
    <header>
        <div class="head-grid-container">
            <h2 id="icono">Manarem</h2>
            <a class="hipervin"  id="h_home" href="../index.html">Home</a>
            <a class="hipervin"  id="h_recomendados" href="./recomend.html">Recomendados</a>
            <a class="hipervin"  id="h_musica" href="./musica.html">Musica</a>
            <div id="h_divotros" class="drop_otros">
                <div class="hipervin" id="h_otros">Otros</div>
                <div class="drop_otros_conten">
                    <a class="hipervin" href="./acerca_de.html">Acerca de</a>
                    <a class="hipervin" href="./contacto.html">Contacto</a>
                    <a class="hipervin" href="./preg_frec.html">Preguntas Frecuentes</a>
                    <a class="hipervin" href="./opiniones.html">Opiniones</a>
                </div>
            </div> 
            <a class="hipervin"  id="h_ingresar" href="./ingresar.html">Ingresar</a>
            <a class="hipervin"  id="h_registrarse" href="./registrarse.html">Registrarse</a>
        </div>
    </header>
    <div id="titulo">
        <h1>Opiniones de usuarios</h1>
    </div>

    <section class="main">
        <div class="full-boxer">
            <div class="comment-box">
                <div class="box-top">
                    <div class="Profile">
                        <div class="profile-image">
                            <img src="../static/img/persona1-f.jpg">
                        </div>
                        <div class="Name">
                            <strong>Ranidi Luciana</strong>
                            <span>@Ranidi Luciana</span>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
            </div>

            <div class="comment-box">
                <div class="box-top">
                    <div class="Profile">
                        <div class="profile-image">
                            <img src="../static/img/persona2-f.jpg">
                        </div>
                        <div class="Name">
                            <strong>Borges Melina</strong>
                            <span>@borges melinna</span>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
            </div>

            <div class="comment-box">
                <div class="box-top">
                    <div class="Profile">
                        <div class="profile-image">
                            <img src="../static/img/persona3-m.jpg">
                        </div>
                        <div class="Name">
                            <strong>Smith Paul</strong>
                            <span>@smith paul</span>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
            </div>

            <div class="comment-box">
                <div class="box-top">
                    <div class="Profile">
                        <div class="profile-image">
                            <img src="../static/img/persona4-f.jpg">
                        </div>
                        <div class="Name">
                            <strong>Sardi Fiorella</strong>
                            <span>@sardi fiore</span>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
            </div>
        </div>




<br><br><br><br><br><br>
        <h1>Seccion: Escribir Comentarios: en Trabajo</h1>

        <div class="comments-container">
            <ul id="comments-list" class="comments-list">
                <div class="comentar-publicacion">
                    <div class="avatar">
                        <img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt="img">
                    </div>
                   <form action="#" method="post" class="comentar-comentario">
                       <input type="text" name="" value="" placeholder="">
                       <button type="" class="boton-enviar">
                           <i class="fas fa-paper-plane"></i>
                       </button>
                   </form>
                </div>
                <br><br><br>








                <li>
                    <div class="comment-main-level">
                        <!-- Avatar -->
                        <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>
                        <!-- Contenedor del Comentario -->
                        <div class="comment-box">
                            <div class="comment-head">
                                <h6 class="comment-name by-author"><a href="http://creaticode.com/blog">Agustin Ortiz</a></h6>
                                <span>hace 20 minutos</span>
                                <i class="fa fa-reply"></i>
                                <i class="fa fa-heart"></i>
                            </div>
                            <div class="comment-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
                            </div>
                        </div>
                    </div>
                    <!-- Respuestas de los comentarios -->
                    <ul class="comments-list reply-list">
                        <li>
                            <!-- Avatar -->
                            <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg" alt=""></div>
                            <!-- Contenedor del Comentario -->
                            <div class="comment-box">
                                <div class="comment-head">
                                    <h6 class="comment-name"><a href="http://creaticode.com/blog">Lorena Rojero</a></h6>
                                    <span>hace 10 minutos</span>
                                    <i class="fa fa-reply"></i>
                                    <i class="fa fa-heart"></i>
                                </div>
                                <div class="comment-content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
                                </div>
                            </div>
                        </li>
        
                        <li>
                            <!-- Avatar -->
                            <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>
                            <!-- Contenedor del Comentario -->
                            <div class="comment-box">
                                <div class="comment-head">
                                    <h6 class="comment-name by-author"><a href="http://creaticode.com/blog">Agustin Ortiz</a></h6>
                                    <span>hace 10 minutos</span>
                                    <i class="fa fa-reply"></i>
                                    <i class="fa fa-heart"></i>
                                </div>
                                <div class="comment-content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
        
                <li>
                    <div class="comment-main-level">
                        <!-- Avatar -->
                        <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg" alt=""></div>
                        <!-- Contenedor del Comentario -->
                        <div class="comment-box">
                            <div class="comment-head">
                                <h6 class="comment-name"><a href="http://creaticode.com/blog">Lorena Rojero</a></h6>
                                <span>hace 10 minutos</span>
                                <i class="fa fa-reply"></i>
                                <i class="fa fa-heart"></i>
                            </div>
                            <div class="comment-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
                            </div>
                        </div>
                    </div>
                </li>



                









                
            </ul>


            <br><br><br><br>
            <section class="contenedor-comentarios">
                <div class="area-comentar">
                    <div class="avatar">
                        <img src="http://localhost/multimedia/relleno/img-c9.png" alt="img">
                    </div>
                    <form action="#" method="post" class="inputs-comentarios">
                        <textarea name="" class="area-comentario"></textarea>
                        <div class="botones-comentar">
                            <div class="boton-subir-archivo">
                                <label class="boton-file" for="adjuntar">
                                    <i class="far fa-image"></i>
                                    Adjuntar archivo
                                </label>
                                <input type="file" name="" value="" placeholder="" id="adjuntar">
                            </div>
                            <button class="boton-enviar" type="sutmit">
                                <i class="fas fa-paper-plane"></i>
                                Enviar
                            </button>
                        </div>
                    </form>
                </div>
                <div class="publicacion-realizada">
                    <div class="usuario-publico">
                        <div class="avatar">
                            <img src="http://localhost/multimedia/relleno/img-c9.png" alt="img">
                        </div>
                        <div class="contenido-publicacion">
                            <h4>Carolina de la valle</h4>
                            <ul>
                                <li>Hace 3 min</li>
                            </ul>
                        </div>
                        <div class="menu-comentario">
                            <i class="fas fa-pen"></i>
                            <ul class="menu">
                                <li><a href="">Editar</a></li>
                                <li><a href="">Eliminar</a></li>
                            </ul>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores aliquam possimus, doloremque repellat assumenda ipsam magni ducimus, dolorem explicabo</p>
                    <div class="archivo-publicado">
                        <img src="http://localhost/multimedia/relleno/img-s5.png" alt="img">
                    </div>
                    <div class="botones-comentario">
                        <button type="" class="boton-puntuar">
                            <i class="fas fa-thumbs-up"></i>
                            45
                        </button>
                        <button type="" class="boton-responder">
                            Comentar
                        </button>
                    </div>
                </div>
                <div class="comentarios-usuarios">
                    <!-- comentario principal -->
                    <div class="comentario-principal-usuario">
                        <div class="avatar">
                            <img src="http://localhost/multimedia/relleno/img-c10.png" alt="img">
                        </div>
                        <div class="comentario">
                            <div class="usuario-comentario">
                                <div class="texto">
                                    <a href="#" title="" class="nombre-usuario">Camila valle</a> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla tenetur necessitatibus.
                                    <div class="menu-comentario">
                                        <i class="fas fa-pen"></i>
                                        <ul class="menu">
                                            <li><a href="">Editar</a></li>
                                            <li><a href="">Eliminar</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="botones-comentario">
                                    <button type="" class="boton-puntuar">
                                        <i class="fas fa-thumbs-up"></i>5</button>
                                    <button type="" class="boton-responder">responrder</button>
                                    <span class="tiempo-comentario">
                                        hece 3 min
                                    </span>
                                </div>
                            </div>
            
                        </div>
            
                    </div>
            
                    <div class="comentar-publicacion">
                        <div class="avatar">
                            <img src="http://localhost/multimedia/relleno/img-c10.png" alt="img">
                        </div>
                       <form action="#" method="post" class="comentar-comentario">
                           <input type="text" name="" value="" placeholder="">
                           <button type="" class="boton-enviar">
                               <i class="fas fa-paper-plane"></i>
                           </button>
                       </form>
                    </div>
                    
                </div>
            </section>
        </div>


    </section>
   
    <footer class="footer">
        <div>Contacto por GitHub:</div>
        <div>creada por an4tsu, JohnCVF9 y Quiroz-Monica-R</div>
    </footer>
</body>
</html>