<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplo de uso de la API 🚀</title>
    <link rel="stylesheet" href="../static/css/products_CRUD.css">
    <link rel="stylesheet" href="../static/css/header.css">
</head>

<body>
    <!-- <header>
        <nav class="navbar-index ">
            <img class="logo-nav" src="../static/img/logos-nav.webp" alt="logo agencia de aprendizaje">
        </nav>
    </header> -->
    <header>
        <div class="head-grid-container">
            <h2 id="icono">Manarem</h2>
            <a class="hipervin"  id="h_home" href="./index.html">Home</a>
            <a class="hipervin"  id="h_recomendados" href="./templates/recomend.html">Recomendados</a>
            <a class="hipervin"  id="h_musica" href="./templates/musica.html">Musica</a>
            <a class="hipervin"  id="h_productos" href="./templates/produts_CRUD.html">Productos</a>
            <div id="h_divotros" class="drop_otros">
                <div class="hipervin" id="h_otros">Otros</div>
                <div class="drop_otros_conten">
                    <a class="hipervin" href="./templates/acerca_de.html">Acerca de</a>
                    <a class="hipervin" href="./templates/contacto.html">Contacto</a>
                    <a class="hipervin" href="./templates/preg_frec.html">Preguntas Frecuentes</a>
                    <a class="hipervin" href="./templates/opiniones.html">Opiniones</a>
                </div>
            </div> 
            <a class="hipervin"  id="h_ingresar" href="./templates/ingresar.html">Ingresar</a>
            <a class="hipervin"  id="h_registrarse" href="./templates/registrarse.html">Registrarse</a>
        </div>
    </header>

    <div>
        <div class="logo-centrado">
            <img src="../static/imagenes/logo_Codo.jpg" alt="logo">
        </div>
        <h1>Ejemplos de uso de la API</h1><br>
        <table>
            <tr>
                <td class="contenedor-centrado"><a href="altas.html">Alta de productos</a></td>
            </tr>
            <tr>
                <td class="contenedor-centrado "><a href="listado.html">Listado de productos</a></td>
            </tr>
            <tr>
                <td class="contenedor-centrado "><a href="modificaciones.html">Modificar datos de productos</a></td>
            </tr>
            <tr>
                <td class="contenedor-centrado "><a href="listadoEliminar.html">Eliminar productos</a></td>
            </tr>
        </table>
</body>

</html>