<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/colors.css">
    <link rel="stylesheet" href="../static/css/formulario.css">
    <link rel="icon" href="../static/img/Aqua-Bored-favicon.ico" type="image/png">
    <title>Manarem - ¡Registrate y Encuentra tus Animes, Mangas y Música!</title>
</head>
<body>
    <header>
        <div class="head-grid-container">
            <h2 id="icono">Manarem</h2>
            <a class="hipervin"  id="h_home" href="../index.html">Home</a>
            <a class="hipervin"  id="h_recomendados" href="./recomend.html">Recomendados</a>
            <a class="hipervin"  id="h_musica" href="./musica.html">Musica</a>
            <div id="h_divotros" class="drop_otros">
                <div class="hipervin" id="h_otros">Otros</div>
                <div class="drop_otros_conten">
                    <a class="hipervin" href="./acerca_de.html">Acerca de</a>
                    <a class="hipervin" href="./contacto.html">Contacto</a>
                    <a class="hipervin" href="./preg_frec.html">Preguntas Frecuentes</a>
                    <a class="hipervin" href="./opiniones.html">Opiniones</a>
                </div>
            </div> 
            <a class="hipervin"  id="h_ingresar" href="./ingresar.html">Ingresar</a>
            <a class="hipervin"  id="h_registrarse" href="./registrarse.html">Registrarse</a>
        </div>
    </header>
    <section class="container">
        <div>
            <form class="formContainer" id="formulario">
                <h3 class="boxHed">Registrarse</h3>
                <div>Nombre<li id="caracteres-Nombre">Caracteres permitidos: a-z/A-Z</li><li id="formulario__input-Nombre"></li></div><input type="text" class="inputData" id="Nombre" name="Nombre" placeholder="Tu Nombre">
                <div>Usuario<li id="caracteres-Usuario">Caracteres permitidos: a-z/A-Z/_/-</li><li id="formulario__input-Usuario"></li></div><input type="text" class="inputData" id="Usuario" name="Usuario" placeholder="Tu Usuario">
                <div>Email<li id="caracteres-Email">Caracteres permitidos: a-z/A-Z/@/.</li><li id="formulario__input-Email"></li></div><input type="text" class="inputData" id="Email" name="Email" placeholder="Tu Email">
                <div>Imagen<li id="formulario__input-Imagen">(opcional)</li></div><input type="file" class="inputData" value="">
                <div>Contraseña<li id="caracteres-password">Caracteres permitidos: Cualquiera</li><li id="formulario__input-password"></li></div><input type="password" class="inputData" id="password" name="password" placeholder="Tu Contraseña">
                <div>Repetir Contraseña<li id="formulario__input-password2"></li></div><input type="password" class="inputData" id="password2" name="password2" placeholder="Repetir(Contraseña)">
                <label>Aceptar términos y condiciones</label>
                <br>
                <a href="" class="Links_Sitios">(Link Vacio) Leer términos y condiciones</a>
                <input type="checkbox" class="inputData" id="terminos">
                <!-- Hacer el link con letra mas chica y el botón mas cerca -->
                <buttom onclick="comprobar()" class="boxFunc btn-enviar">ENVIAR</buttom>
            </form>
        </div>
    </section>
    <footer class="footer">
        <div>Contacto por GitHub:</div>
        <div>creada por an4tsu, JohnCVF9 y Quiroz-Monica-R</div>
    </footer>
    <script src="../static/js/formularioRegistro.js"></script>
</body>
</html>